

.l-hero > h1 {
    font-size: 40px;
    padding-bottom: 20px;
    line-height: 1.5;
}

.l-hero > p {
    line-height: 1.5;
    padding-bottom: 20px;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* align-items: center; */
    
}

.a-l-hero {
    width: 45%;
    display: flex;
    flex-direction: column;
    margin-top: 7rem;
}

.r-hero >img {
    transition: transform .2s; 
}

.r-hero>img:hover {
    transform: scale(1.1);
}



@media only screen and (max-width: 600px) {
    .a-l-hero {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 2rem;

        
     
    }
    
    .p-hero {
        padding-top: 0rem;
    }

    .l-hero > h1 {
        font-size: 35px;
        padding-bottom: 20px;
        line-height: 1.2;
        text-align: center;
        
        
       
    }
    
    .l-hero > p {
        line-height: 1.5;
        padding-bottom: 22px;
        font-size: 16px;
        text-align: center;
        
    }
    
    .hero-container {
        display: flex;
        background-color: #63979f;
        color: #fff;
        flex-direction: column;

        
        
    }

    
    .r-hero {
        display: none;
    }


}