.p-hero {
    padding-top: 3rem;
}

.l-hero >h1 {
    font-size: 40px;
    padding-bottom: 20px;
    line-height: 1.5;
}

.l-hero > p {
    line-height: 1.5;
    padding-bottom: 20px;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

}

.l-hero {
    width: 45%;
  
}

