.howMec {
    margin-top: 3rem;
}

.how-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: auto;
    gap: 20px;

}

.how-header h1 {
    color: #5376ad;
}

.how-header p {
    color: #5f6163;
    font-size: 18px;
    padding-bottom: 4rem;
}

.how-steps {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9rem;
    padding-bottom: 5rem;
    border-bottom: 1px solid gray;
    padding-top: 5rem;
    flex-wrap: wrap;
}

.step-r {
    width: 40%;
}

.step-r h1 {
    color: #5376ad;
    line-height: 1.5;
    padding-bottom: 1rem;
}

.step-r p {
    color: #5f6163;
    font-size: 18px;
}

.mid-step {
    background-color: #ebeced;
   
}

.mid-step > .step-l {
    order: 2;
}

.step-l > img {
    box-shadow: 24px -10px 74px -30px rgba(0,0,0,0.47);
-webkit-box-shadow: 24px -10px 74px -30px rgba(0,0,0,0.47);
-moz-box-shadow: 24px -10px 74px -30px rgba(0,0,0,0.47);
}

@media only screen and (max-width: 600px)  {

    .how-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 15px;
        padding-left: 2rem;
        padding-right: 2rem;
    
    }

    .how-header h1 {
        color: #5376ad;
        text-align: center;
        font-size: 28px;
    }

    .how-header p {
        color: #5f6163;
        font-size: 15px;
        padding-bottom: 4rem;
    }
    
    
    .how-steps {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6rem;
        padding-bottom: 5rem;
        border-bottom: 1px solid gray;
        padding-top: 5rem;
        flex-direction: column;
        padding-left: 2rem;
        padding-right: 2rem;
        

    }

    .step-r {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }

    .step-r h1 {
        color: #5376ad;
        line-height: 1.3;
        padding-bottom: 1rem;
        font-size: 26px;

    }

    .step-r p {
        color: #5f6163;
        font-size: 15px;
        
    }

    .mid-step {
        background-color: #ebeced;
    
    }

    .mid-step > .step-l {
        order: 2;
    }

}