.serviceForm {
    display: flex;
    flex-direction: column;
    
}

.serviceFormTop {
    display: flex;
}

.serviceInput {
    height: 50px;
    width: 85%;
    outline: none;
    font-size: 16px;
    padding-left: 35px;
    position: relative;
    border-radius: 0px;
    border: 1px solid gray;
}

.serviceBtn {
    height: 50px;
    width: 15%;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    font-size: 15sspx;
    cursor: pointer;
    border: none;
    background-color: #E77D22;
    color: #fff;
}

.serviceBtn:hover {
    opacity: .9;
}

.searchIcon {
    position: absolute;
    top: 245px;
    left: 8px;
}

/* .serviceDD {
    position: absolute;
    top: 520px;

} */

.serviceDD ul li {
    border: 1px solid gray;
    /* width: 550px; */
    width: 100%;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 600;
}

.serviceDD ul li:hover {
    background-color: #63979f;
    color: #fff;

    
}

@media only screen and (max-width: 600px) {
    .searchIcon {
        position: absolute;
        top: 218px;
        left: 8px;
    }

    .serviceInput {
        height: 45px;
        width: 80%;
        outline: none;
        font-size: 14px;
        padding-left: 35px;
        position: relative;
        border-radius: 0px;
        
    }

    .serviceForm {
        display: flex;
        flex-direction: column;
        background-color: #fff;   
        color: #000;
    }

    .serviceBtn {
        height: 45px;
        width: 20%;
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
        font-size: 14px;
        cursor: pointer;
        border: none;
        background-color: #E77D22;
        color: #fff;
    }

    
}