.serviceForm {
    display: flex;
}

.serviceInput {
    height: 50px;
    width: 80%;
    outline: none;
    font-size: 16px;
    padding-left: 35px;
    position: relative;
}

.serviceBtn {
    height: 50px;
    width: 20%;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    font-size: 15sspx;
    cursor: pointer;
    border: none;
    background-color: #E77D22;
    color: #fff;
}

.searchIcon {
    position: absolute;
    top: 473px;
    left: 70px;
}

.serviceDD {
    position: absolute;
    top: 520px;

}

.serviceDD ul li {
    border: 1px solid gray;
    width: 550px;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 600;
}

.serviceDD ul li:hover {
    background-color: #63979f;
    color: #fff;

    
}