footer {
    display: flex;
    justify-content: center;
    gap: 18rem;
    color: #5f6163;
    margin-top: 6rem;
    margin-bottom: 2rem;
    font-size: 14px;
    flex-wrap: wrap;
 
}


.ft-1 span {
    font-size: 24px;
}

.ft-1 > p >span:nth-child(1) {
    color: 	#63979f;
}



.ft {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ft ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
   
}

.ft ul li a {
    color: #5f6163;
}

.ft-1 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.socials {
    display: flex;
    gap: 15px;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    footer {
        display: flex;
        justify-content: center;
        gap: 0rem;
        font-size: 14px;
        flex-direction: column;
        align-items: center;
     
    }

    .ft {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
    
    .ft ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
       
    }

    .ft-1 {
        display: flex;
        flex-direction: column;
        gap: 15px;
        border-bottom: 1px solid gray;
        padding-bottom: 2rem;
    }

    .ft-2 {
        padding-bottom: 2rem;
        border-bottom: 1px solid gray;
        padding-top: 1.5rem;
    }

    .ft-3 {
        padding-top: 1.5rem;
    }
    
}